html{
    /*wallpaper adaptation found on css tricks*/
    background: url(images/wallpaper.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#menu,a{
    margin-top: 1%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: black;
    transition: color 0.9s;
}

a:hover{
    color: white;
}

#logo{
    flex-grow: 2; /*logo occupa 2*/
}

#imgLogo{
    transition: rotate 0.9s;
}

#imgLogo:hover{
    rotate: 360deg;
}

#home,#corsi,#about,#log,#sign{
    flex-grow: 1; /*tutti tranne logo occupano 1*/
}

#grill2{
    display: grid;
    grid-template-columns: 15% 35%;
    grid-template-rows: repeat(2, 20% [row-start]);
    justify-content: center; /*allinea al centro asse x*/
    padding-top: 5%;
    align-content: space-between;
    column-gap: 3%;
    row-gap: 15%;
}

#myPic{
    background-image: url("images/mySelf.png");
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    height: 100%;
    border-radius: 25px;
    backdrop-filter: blur(15px);
    grid-column: 1;
    grid-row: 1/5; /*prende la colonna 1, righe dalla 1 alla 4*/
    margin-left: auto;
    margin-right: auto;
    transition: background-image 1s ease-in-out;
}

#myPic:hover{
    background-image: url("images/smile.png");
}

#name{
    border-radius: 25px;
    backdrop-filter: blur(15px);
    height: 80px;
    grid-column: 2;
    grid-row: 1;
}

#email{
    border-radius: 25px;
    backdrop-filter: blur(15px);
    height: 80px;
    grid-column: 2;
    grid-row: 2;
}

#number{
    border-radius: 25px;
    backdrop-filter: blur(15px);
    height: 80px;
    grid-column: 2;
    grid-row: 3;
}

#socials{
    border-radius: 25px;
    backdrop-filter: blur(15px);
    height: 40px;
    grid-column: 2;
    grid-row: 4;
    display: flex;
    align-self: center;/*asse y*/
}

#insta, #facebook, #twitter{
    margin-right: 5%;
}

#subtitle{
    padding-top: 5%;
    padding-left: 15%;
}

#btnMenu{
    width:60px;
}